@media (max-width: 1024px) {
 
.main{
  grid-template-columns:70% 30%;
}

}
@media (max-width: 910px) {
  .logo{
    width:5rem;
    height:5rem;
  }
  .title h1{
    font-size:1.8rem;
  }
 
  .section-title{
    font-size:1.6rem;
  }
  .footer {
    padding: 0;
  }

  .footer-menus {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: none;
    box-shadow: 0 -0.25rem 0.5rem rgba(0, 0, 0, 0.15);
    /* border: 0.15rem solid var(--clr-title-background3); */
    background: var(--clr-body-clr);
  }

  .footer-menus button {
    flex: 1;
    background: none;
    border: none;
    padding: 0.6rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.7rem;

  }

  .footer-menus i {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
  }

  /* .footer-menus button:active {
    background: rgba(255, 255, 255, 0.05);
  } */

  .footer-copy {
    font-size: 0.75rem;
/*     padding: 0.3rem 0; */
    width: 100%;
  }
  .main{
    grid-template-columns:1fr;
    padding-right: 0.15rem;
  }
  .simulation{
    grid-row: 1/2;
    grid-column:1/-1;
  }
  .table{
    grid-row:2/3;
    grid-column:1/-1;
  }
  /* .result{
    grid-row:2/3;
    grid-column:2/3;
  } */
  .var-controls{
    grid-row:2/3;
    grid-column:1/2;
    margin: 0;
  }
  .variables{
    padding: 0;
    padding-bottom:5rem;
    grid-column: 1/-1;
    width: 100%;
    margin-bottom: 10rem;
    /* margin: 0 0.15rem; */
  }
  .controls{
    display:none;
    padding: 0;
  }
}

@media (max-width: 520px) {
  .logo{
    width:3rem;
    height:3rem;
  }
  .title h1{
    font-size:1.4rem;
  }
  .section-title{
    font-size:1.4rem;
    padding: 0.3rem;
  }
  .simulation-main{
    grid-template-columns:1fr;
  }
  .simulation{
    grid-row: 1/2;
    grid-column:1/-1;
  }
  .table{
    grid-row:2/3;
    grid-column:1/2;
  }
  .result{
    grid-row:3/4;
    grid-column:1/2;
  }
}